<!--
  Generated template for the PickTimePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <link href="https://fonts.googleapis.com/css?family=Anton|Baloo+Bhai|Poppins|Yanone+Kaffeesatz&display=swap"
    rel="stylesheet">
  <ion-navbar>
    <ion-title class="center">RESERVAS</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="go_reservas()">
        <ion-icon name="add-circle" color="secondary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let reserva of reservas" class="poppins">

      <ion-item>
        <ion-thumbnail item-start>
          <img src="../../assets/imgs/calendar.png" />
        </ion-thumbnail>

        <strong class="poppins">{{reserva.data.sede}}</strong>
        <h3>Fecha:</h3> {{ reserva.data.fecha }}
        <h3>Cantidad de personas:</h3> {{ reserva.data.cantidad }}
      </ion-item>

      <ion-item-options side="right">
        <button ion-button (click)="unread(item)" color="danger">Eliminar</button>
      </ion-item-options>
    </ion-item-sliding>


    <ion-item *ngFor="let reserva of reservas">




    </ion-item>
  </ion-list>

</ion-content>