page-pick-time {
    .center {
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-size: 100%;
    }

    .baloo {
        font-family: 'Baloo Bhai', cursive;
    }

    .poppins {
        font-family: 'Poppins', sans-serif;
    }

    .anton {
        font-family: 'Anton', sans-serif;
    }

    .yanone {
        font-family: 'Yanone Kaffeesatz', sans-serif;
    }
}
